#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
init-connect="SET NAMES utf8"

#bind-address=192.168.0.230

query_cache_size = 0 #10M
query_cache_type = 0 #1
query_cache_limit = 2M
join_buffer_size = 3M
thread_cache_size = 4

performance_schema = ON

innodb_buffer_pool_size = 500M
innodb_file_per_table = 1
innodb_buffer_pool_instances = 4
innodb_log_file_size = 50M
innodb_flush_method = O_DIRECT

#FOR BIG DUMP
#max_allowed_packet=2G
#innodb_flush_log_at_trx_commit=0
#innodb_buffer_pool_size=256

#innodb_force_recovery = 1

#FOR REPLICATION
server_id=2
#log-basename=master1
skip-networking= 0
bind-address=0.0.0.0

#
# * Basic Settings
# 
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc_messages_dir = /usr/share/mysql
lc_messages     = en_US

slow_query_log_file     = /var/log/mysql/mariadb-slow.log
long_query_time = 10

log_bin                 = /var/log/mysql/mysql_bin.log
expire_logs_days        = 10
max_binlog_size         = 90M

log_error               = /var/log/mysql/mysql_error.log

#general_log             = 1
#general_log_file        = /var/log/mariadb/mysql_query.log

#max_connections = 20
table_open_cache = 1024

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.3 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.3]

